connexion == 2.9.0
python_dateutil == 2.6.0
setuptools >= 21.0.0
werkzeug < 2.0
numpy
connexion[swagger-ui]

git+https://github.com/dpnm-ni/ni-mano#subdirectory=ni_mon_client_api
git+https://github.com/dpnm-ni/ni-mano#subdirectory=ni_nfvo_client_api


